In [2]:
import pandas as pd
import numpy as np

In [3]:
url="https://raw.githubusercontent.com/amueller/scipy-2018-sklearn/master/notebooks/datasets/titanic3.csv"

In [4]:
data=pd.read_csv(url)

In [5]:
data.shape

(1309, 14)

# Let's dp some preprocessing

In [6]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [7]:
data['fare'].value_counts()

8.0500     60
13.0000    59
7.7500     55
26.0000    50
7.8958     49
10.5000    35
7.7750     26
7.2292     24
7.9250     23
26.5500    22
7.2250     21
7.8542     21
8.6625     21
7.2500     18
0.0000     17
21.0000    14
9.5000     12
16.1000    12
27.7208    11
69.5500    11
14.5000    11
15.5000    10
14.4542    10
7.8792     10
7.7958     10
15.2458     9
24.1500     9
7.0500      9
46.9000     8
56.4958     8
           ..
7.7208      1
9.6875      1
49.5000     1
8.6833      1
9.2167      1
8.6542      1
7.5750      1
25.7000     1
31.6833     1
8.9625      1
10.5167     1
9.8458      1
9.8417      1
40.1250     1
7.5792      1
8.4333      1
38.5000     1
15.0333     1
4.0125      1
7.8500      1
12.7375     1
34.0208     1
6.4500      1
25.9250     1
7.0458      1
13.7917     1
10.7083     1
7.7417      1
7.8208      1
34.6542     1
Name: fare, Length: 281, dtype: int64

In [8]:
data['age'].value_counts()

24.0000    47
22.0000    43
21.0000    41
30.0000    40
18.0000    39
25.0000    34
28.0000    32
36.0000    31
27.0000    30
29.0000    30
26.0000    30
19.0000    29
23.0000    26
32.0000    24
20.0000    23
35.0000    23
31.0000    23
45.0000    21
33.0000    21
17.0000    20
39.0000    20
16.0000    19
40.0000    18
42.0000    18
34.0000    16
50.0000    15
47.0000    14
48.0000    14
38.0000    14
2.0000     12
           ..
28.5000     3
18.5000     3
12.0000     3
71.0000     2
45.5000     2
36.5000     2
34.5000     2
14.5000     2
0.9167      2
30.5000     2
70.0000     2
55.5000     1
20.5000     1
0.4167      1
60.5000     1
23.5000     1
22.5000     1
38.5000     1
66.0000     1
24.5000     1
74.0000     1
0.1667      1
0.3333      1
80.0000     1
11.5000     1
26.5000     1
67.0000     1
70.5000     1
76.0000     1
0.6667      1
Name: age, Length: 98, dtype: int64

In [9]:
data.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [10]:
numeric_features= ['age','fare']

categorical_features =['embarked','sex','pclass']

In [11]:
data['embarked'].value_counts()

S    914
C    270
Q    123
Name: embarked, dtype: int64

In [12]:
from sklearn.preprocessing import OneHotEncoder ,StandardScaler
from sklearn.impute import SimpleImputer

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [13]:
import sklearn;print(sklearn.__version__)

0.20.3

In [14]:
!conda env list

# conda environments:
#
base                  *  /apps/apps1/a625533/anaconda3
docscan                  /export/home/a625533/.conda/envs/docscan

In [15]:
numeric_pipeline=Pipeline(steps=[('miss',SimpleImputer(strategy='mean')),('scale',StandardScaler())])
category_pipeline=Pipeline(steps=[('miss',SimpleImputer(strategy='constant',fill_value='missing')),('hot',OneHotEncoder(handle_unknown='ignore'))])

In [16]:
preprocess=ColumnTransformer(transformers=[
    ('numeric',numeric_pipeline, numeric_features),
    ('category',category_pipeline,categorical_features)
])

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

lr_pipeline=Pipeline( steps=[
    ('prep',preprocess),
#     ('model',LogisticRegression(solver='lbfgs')
    ('model', RandomForestClassifier())   
])

In [18]:
X = data.drop('survived',axis=1)
y= data['survived']

In [19]:
from sklearn.model_selection import train_test_split

X_train ,X_test ,y_train ,y_test= train_test_split(X,y,test_size=0.20)

In [20]:
lr_pipeline.fit(X_train, y_train)

lr_pipeline.score(X_test, y_test)

/export/home/a625533/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7633587786259542